<h1>Main Page - Hello Boyos</h1>
<h2>Jar Jar's Above Ground Pool</h2>
<section>
  <h3>Players</h3>
  <%= link_to "Add Player", new_player_path %>
</section>
<section>
  <ul>
    <% @players.each do |player| %>
      <% data = player.get_player_data(player.ally_code) %>
      <li><%= link_to player.ally_code, player %></li>
      <li><%= data['data']['name'] %></li>
    <% end %>
  </ul>
</section>
